@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
	themes: glacialblue --default
}

@plugin "daisyui/theme" {
	name: "glacialblue";
	default: true;
	prefersdark: false;
	color-scheme: light;

	--color-base-100: oklch(98% 0.01 220);
	--color-base-200: oklch(95% 0.015 220);
	--color-base-300: oklch(90% 0.02 220);
	--color-base-content: oklch(32% 0.03 230);
	--color-primary: oklch(45% 0.13 235);
	--color-primary-content: oklch(99% 0.005 230);
	--color-secondary: oklch(80% 0.08 210);
	--color-secondary-content: oklch(20% 0.04 210);
	--color-accent: oklch(70% 0.12 195);
	--color-accent-content: oklch(15% 0.03 195);
	--color-neutral: oklch(28% 0.04 235);
	--color-neutral-content: oklch(95% 0.01 235);

	--color-info: oklch(70% 0.13 220);
	--color-info-content: oklch(20% 0.04 220);

	--color-success: oklch(69% 0.14 175);
	--color-success-content: oklch(15% 0.03 175);

	--color-warning: oklch(80% 0.15 80);
	--color-warning-content: oklch(20% 0.05 80);

	--color-error: oklch(60% 0.22 25);
	--color-error-content: oklch(99% 0.005 25);

	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.75rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

@theme {
	--font-sans: "Inter", sans-serif;
}

@layer base {
	h1 {
		@apply font-sans text-4xl font-bold text-base-100;
	}

	h2 {
		@apply font-sans text-2xl font-bold;
	}

	body {
		@apply font-sans text-neutral-content;
	}

	a {
		@apply underline underline-offset-2;
	}
}
